body{
    background-image: url("https://celes.club/uploads/posts/2022-05/1653475757_18-celes-club-p-fon-videoplenka-krasivie-19.jpg");
    background-size: cover;
    background-attachment: fixed;
}
img{
    width: 250px;
    height:350px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}
span{
    background-color: rgba(248, 248, 255, 0.82);
    font-size: 30px;
    width: 230px;
    height: auto;
    padding-bottom:8px;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    display:inline-block;
}
